/* Space out contents a little bit */
body {
  padding-top: 30px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #009dff;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }


  /* CUSTOM STYLES */
  .angry { color: rgb(220,20,60); }
  .happy { color: rgb(124,252,0); }
  .sad {color: rgb(64,224,208); }
  .suprise{ color: rgb(255,165,0);}
  .disgust{ color: rgb(218,112,214); }
  .thought{ color: rgb(255,99,71); }
  .rightImg { position:relative; float:right; width: 40%; height:70%;}
  .padded {padding:40px;}
  #wrap { float: left; width:60%;}
  .centered { text-align: center;}
  img[alt="portrait"] {
	      -webkit-border-radius: 64px;
	          -moz-border-radius: 64px;
		      -ms-border-radius: 64px;
		          -o-border-radius: 64px;
			      border-radius: 64px;
		      }
  .feedImg { padding:60px; }
}
